# Ignores python cache file created when running the Flask server
backend/__pycache__/

# Ignores python virtual environment
backend/.venv/
backend/venv/

# Ignore environment file with credentials
backend/.env
.env