<div class="create-form">
    <mat-card class="create-form-card">
        <div class="form-content"> 
            <h1 class="create-form-title">
                Create Form
            </h1>
            <div class="row">
                <mat-form-field class="title">
                    <mat-label> Your Title </mat-label>
                    <input matInput ng-required="True">
                </mat-form-field>
                <mat-form-field class="first-name">
                    <mat-label> First Name </mat-label>
                    <input matInput ng-required="True">
                </mat-form-field>
                <mat-form-field class="last-name">
                    <mat-label> Last Name </mat-label>
                    <input matInput ng-required="True">
                </mat-form-field>
                <mat-form-field class="email">
                    <mat-label> Email Address </mat-label>
                    <input matInput ng-required="True">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="job-title">
                    <mat-label> Job Title </mat-label>
                    <input matInput ng-required="True">
                </mat-form-field>
                <mat-form-field class="expected-hours">
                    <mat-label> Expected hr/week </mat-label>
                    <input matInput ng-required="True">
                </mat-form-field>
                <mat-form-field class="location">
                    <mat-label> Location </mat-label>
                    <input matInput ng-required="True">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="job-description">
                    <mat-label> Job Description </mat-label>
                    <textarea matInput placeholder="Write description here." ng-required="True"> </textarea>
                </mat-form-field>
            </div>
        </div>
        <div class="submit-button">
            <button mat-flat-button class="submit-opportunity"> Submit Opportunity</button>
        </div>
        
    </mat-card>
</div>