
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h1><b>CICS Undergrad Research Finder</b></h1>
        <div class="nav">
            <a>Home</a> | <a>Research</a> | <a>Professor</a> | <a>Application</a>
            <input type="text">
        </div>
    </div>
    <div class="about">
        <h2>About</h2>
            <div class="paragraph">
                <p>This web application allows undergraduate students and professors at 
                UMass Amherst to connect for research opportunities. Students can search 
                for professors and labs that are offering research projects. 
                They can view professors' research interests, affiliated labs, 
                and past and ongoing projects. Students can easily contact professors through 
                the application by sharing their research profile, experience, resume, etc. 
                Professors can post information about ongoing research projects and recruit 
                students through the application by viewing their research profile. <p> 
                <img src="./assets/building.jpg">
            </div>
    </div>
    <div class="info"></div>
</body>
</html>