.nav{
    width: 100%;
    height: 75px;
    background-color: #891D1D;
    color: white;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.nav a{
    margin-left: 15px;
    margin-right: 15px;
}
.nav input {
    width: 300px;
    height: 35px;
    margin-left: 600px;
}

.about{
    padding: 30px;
    background-color: #9014147c;
}

.about h2{
    font-size: 50px;
    
}
.about p{
    font-size: 20px;
    line-height: 2;
}
.about img{
    width: 800px;
}
.paragraph{
    display:flex;
}
.info{
    background-color: #891D1D;
    height: 150px;
    width: 100%;
    display:flex;
    
}
.info img{
    height: 150px;
    margin-right: 1000px;
}
.foot{
    margin-top: 15px;
    color: white;
}