.about{
    height: 57h;
    padding: 3%;
    background-color: #9014147c;
    min-width: 800px;
}
.about h2{
    font-size: 50px; 
    
}
.about p{
    font-size: 20px;
    line-height: 2;
   
}
.about img{
    margin-left: 3%;
    width: 90vh;
}
.paragraph{
    display:flex;
}
.info{
    height: 25%;
    background-color: #891D1D;
    display:flex;
}
.info img{
    height: 100%;
    margin-right: 60%;
}
.foot{
    margin-top: 1%;
    color: white;
}