.login {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: calc(100dvh - 128px);
    background-color:#f9f9f9;
}

.login-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 420px;
    height: 360px;
    border-radius: 8px;
}

.login-content {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.login-item {
    width: 100%;
}

.login-button {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #940a00 !important;
}

.login-button:disabled {
    background-color: #d1a3a2 !important;
}

.divider-container {
    width: 100%;
    padding: 22.4px 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login-text {
    font-size: 28px;
    font-weight: 500;
}

.error-text {
    color: red;
    text-align: center;
    padding: 10px 0px;
    margin: 0px;
}
