.application {
    display: flex;
    justify-content:space-between;
}

.application-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    color: rgb(230, 230, 230);
    
}
.application-title {
    padding-left:1%
}
.application-content {
    display:block;
    justify-content: space-between;
    align-items: center;
    padding:2%;
}

.app-field-1 {
    display: flex; 
    justify-content: space-between;
    
}

.app-field-2 {
    display: flex; 
    justify-content: space-between;
}

.app-comment-box {
    display:flex;
    width: 98%;
    padding-left: 1%;
    justify-content: center;
    text-wrap: wrap;
}

.first-name {
    display:flex;
    padding:1%;
}
.last-name {
    display:flex;
    padding:1%;
}
.email {
    display:flex;
    padding:1%;
}
.major {
    display:flex;
    padding:1%;
}
.phone-num {
    display:flex;
    padding:1%;
}
.grad-year {
    display:flex;
    padding:1%;
}

.app-buttons {
    display:flex;
    align-items: left;
    justify-content:space-evenly;
}
.app-buttons-2 {
    display:flex;
    align-items: left;
    justify-content:left;
}
.submit-application {
    background-color: #940a00;
    padding:1%;
    margin-left:1%;
}
.upload-resume {
    margin:1%;
    background-color: #940a00;
}
.upload-cover-letter{
    background-color: #940a00;
    align-content:center;
}
.space {
    padding:1%;
}

.position-info {
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: column;
    width: 50%;
    color: rgb(230, 230, 230);
    padding-left:1%;
}

.white-space {
    display:flex;
    height:150px;
}

.change-job {
    align-self:baseline;
    background-color: #940a00;
}