<div class="application">
    <mat-card class="application-card">
        <div class="application-content">
            <h1 class="application-title">
                Application Form
            </h1>

            <div class="app-field-1">
                <mat-form-field class = "first-name">
                    <mat-label> First Name </mat-label>
                    <input matInput ng-required="True">
                </mat-form-field>
                <mat-form-field class = "last-name">
                    <mat-label> Last Name </mat-label>
                    <input matInput ng-required="True">
                </mat-form-field>
                <mat-form-field class = "email">
                <mat-label> Email Address </mat-label>
                <input matInput placeholder="student@umass.edu" ng-required="True">
                </mat-form-field>
            </div>

            <div class="app-field-2">
                <mat-form-field class = "major">
                    <mat-label> Major </mat-label>
                    <input matInput ng-required="True">
                </mat-form-field>
                <mat-form-field class = "phone-num">
                    <mat-label>Phone number</mat-label>
                    <input matInput placeholder="XXX-XXX-XXXX" ng-required="True">
                </mat-form-field>
                <mat-form-field class = "grad-year">
                    <mat-label> Graduation Month/Year </mat-label>
                    <input matInput placeholder="Spring 2026" ng-required="True">
                </mat-form-field>
            </div>
            <div>
                <mat-form-field class="app-comment-box">
                    <mat-label> Comments </mat-label>
                    <textarea matInput placeholder="Write any comments here."> </textarea>
                </mat-form-field>
            </div>
            <div>
                <button mat-flat-button class="upload-resume"> Upload Resume</button>
                <button mat-flat-button class="upload-cover-letter"> Upload Cover Letter</button>
            </div>
            <div class="space">

            </div>
            <div>
                <button mat-flat-button class="submit-application"> Submit Application</button>
            </div>
        </div>
    </mat-card>
        
    <mat-card class="position-info">
        <div class="position-content">
            <h1 class="position-title">
                Opportunity Title
            </h1>
            <h3>
                Professor Name
            </h3>
            <h3>
                Expected Hours
            </h3>
            <h3>
                Location
            </h3>
            <h5>
                Insert Description here... 
                <br>
                -
                <br>
                -
                <br>
                -
                <br>
                -
                <br>
                -
                <br>
                -
                <br>
                -
                <br>
                -
                <br>
                -
                <br>
            </h5>
            <button mat-flat-button class="select-job"> Select Job</button>
            <button mat-flat-button class="save-job"> Save Job</button>
            
        </div>
    </mat-card>
</div>