<div class="help">
    <h3>Finding Research Opportunities</h3>
    <p>Under the Research tab, there will be a list of posted research positions that will show
        you the professor that is conducting the research and a description of the lab.
    </p>
    <h4>Finding Specific Professors</h4>
    <p>Under the professors tab, there will be a display of all the professors that are conducting
        research and what the research topic is.
    </p>
    <h1>How to Apply to a Research Opportunity</h1>
    <p>After finding a research area that you would like to through the research tab, 
        you can click on the Opportunity button and click apply. Then imput your information
        you can click on the apply button for that opportunity. Then input your information
        and hit submit and you are finished!
    </p>
    <h2>How to Create a Research Opportunity</h2>
    <p>For the professors that would like to create a research opportunity, They can create
        an research opportunity on the opportunity tab and under the create section, they
        can fill out the nessesary information to create a reasearch opportunity.
        can fill out the necessary information to create a reasearch opportunity.
    </p>
</div>