<div class="signup">
    <mat-card class="signup-card">
        <div class="signup-content">
            <h1 class="signup-text">Sign Up</h1>
            <div style="display: flex;">
                <mat-form-field class="signup-item">
                    <mat-label>First name</mat-label>
                    <input matInput placeholder="John">
                </mat-form-field>
                <mat-form-field class="signup-item" style="padding-left: 20px;">
                    <mat-label>Last name</mat-label>
                    <input matInput placeholder="Smith">
                </mat-form-field>
            </div>
            <mat-form-field class="signup-item">
                <mat-label>Enter your school email</mat-label>
                <input matInput placeholder="student@umass.edu">
            </mat-form-field>
            <mat-form-field class="signup-item">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" [disableRipple]="true">
                    {{hide ? "show" : "hide"}}
                </button>
            </mat-form-field>
            <mat-form-field class="signup-item">
                <mat-label>Re-enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" [disableRipple]="true">
                    {{hide ? "show" : "hide"}}
                </button>
            </mat-form-field>
            <button mat-flat-button routerLink="" class="signup-button">Sign Up</button>
        </div>
    </mat-card>
</div>
