<div class="signup">
    <mat-card class="signup-card">
        <div class="signup-content">
            <h1 class="signup-text">Sign Up</h1>
            <div style="display: flex;">
                <mat-form-field class="signup-item">
                    <mat-label>First name</mat-label>
                    <input matInput placeholder="John">
                </mat-form-field>
                <mat-form-field class="signup-item" style="padding-left: 20px;">
                    <mat-label>Last name</mat-label>
                    <input matInput placeholder="Smith">
                </mat-form-field>
            </div>
            <mat-form-field class="signup-item">
                <mat-label>Enter your school email</mat-label>
                <input matInput placeholder="student@umass.edu">
            </mat-form-field>
            <mat-form-field class="signup-item">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" [disableRipple]="true">
                    {{hide ? "show" : "hide"}}
                </button>
            </mat-form-field>
            <mat-form-field class="signup-item">
                <mat-label>Re-enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" [disableRipple]="true">
                    {{hide ? "show" : "hide"}}
                </button>
            </mat-form-field>
            <button mat-flat-button routerLink="" class="signup-button">Sign Up</button>
            <div class="divider-container">
                <div class="line"><mat-divider></mat-divider></div>
                <div class="divider-text mat-typography">or</div>
                <div class="line"><mat-divider></mat-divider></div>
            </div>
            <div id="g_id_onload"
                data-client_id="579614954541-ame8nr93nlu3d87hhteal8f4qg7ipetk.apps.googleusercontent.com"
                data-context="signin"
                data-ux_mode="popup"
                data-login_uri="http://localhost:5000/login"
                data-auto_select="true"
                data-itp_support="true">
            </div>

            <div class="g_id_signin"
                data-type="standard"
                data-theme="outline"
                data-text="signin_with"
                data-size="large"
                data-logo_alignment="center"
                data-width="320">
            </div>
        </div>
    </mat-card>
</div>
