.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    height: calc(100dvh - 128px);
    background-color:#f9f9f9;
}

.signup-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 680px;
    height: 500px;
    border-radius: 8px;
}

.signup-content {
    display: flex;
    flex-direction: column;
    width: 580px;
}

.signup-item {
    width: 100%;
}

.signup-button {
    width: 100%;
    height: 40px;
    color: white;
    background-color: #940a00 !important;
}

.divider-text {
    padding-left: 10px;
    padding-right: 10px;
}

.signup-text {
    font-size: 28px;
    font-weight: 500;
}

.error-text {
    color: red;
    text-align: center;
    padding: 10px 0px;
    margin: 0px;
}