<div class = "background">
  <mat-card class = "research">
    <mat-card-header class = "research-header">
      <mat-card-title class = "research-title">
        Posted Research Positions
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class = "research-content">
      <mat-card class="opportunity">
        <mat-card-header class="opportunity-header">
          <mat-card-title class="opportunity-title">
            Example Title
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class = opportunity-content>
          Example Professor 
          Example Location
        </mat-card-content> 
      </mat-card>
    </mat-card-content>
    <mat-paginator class = research-paginator>
    </mat-paginator>
  </mat-card>
  <mat-card class = "research-display">
    <mat-card-header class = "research-display-header">
      <mat-card-title class = research-display-title>
        Example title
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class = research-display-content>
      content
    </mat-card-content>
  </mat-card>
</div>