<div class = "background">
  <mat-card class = "research">
    <mat-card-header class = "research-header">
      <mat-card-title class = "research-title">
        Posted Research Positions
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class = "research-content">

      <div *ngFor="let opportunities of visibleOpportunity">
      <mat-card class="opportunity" (click)="setOpportunity(opportunities)">
        <mat-card-header class="opportunity-header">
          <mat-card-title class="opportunity-title">
            {{opportunities.jobTitle}} 
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class = opportunity-content>
          <p class="info">Professor: {{opportunities.yourTitle}} {{opportunities.firstName}} {{opportunities.lastName}}</p> 
          <p class="info">Location: {{opportunities.location}}</p>
          <p class="info">Expected Hours: {{opportunities.expectedHours}}</p>
        </mat-card-content> 
      </mat-card>
      </div>

    </mat-card-content>
    <mat-paginator class = research-paginator  [length]="opportunity.length" [pageSize]="6" (page)="changePage($event)">
    </mat-paginator>
  </mat-card>
  <mat-card class = "research-display">
    <mat-card-header class = "research-display-header1">
      <mat-card-title class = research-display-title1>
        {{currentOpportunity.jobTitle}}
      </mat-card-title>
      <mat-card-title class = "research-display-title1" *ngIf="currentOpportunity === 'NA'">
        No Research Title
      </mat-card-title>
    </mat-card-header>
    <mat-card-header class = "research-display-header2">
      <mat-card-title class = "research-display-title2">
        <h3 class = "info">Professor: {{currentOpportunity.yourTitle}} {{currentOpportunity.firstName}} {{currentOpportunity.lastName}}</h3> 
        <h3 class = "info">Location: {{currentOpportunity.location}}</h3>
        <h3 class = "info">Expected Hours: {{currentOpportunity.expectedHours}}</h3>
        <h3 class = "info">Email Address: {{currentOpportunity.emailAddress}}</h3>
      </mat-card-title>
      <div class="btn">
      <button mat-fab extended class = "apply-button" routerLink="/application" (click)="newMessage()">
        Apply
      </button>
      </div>
    </mat-card-header>
    <mat-card-content class = research-display-content>
      {{currentOpportunity.jobDescription}}
    </mat-card-content>
  </mat-card>
</div>