.background{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color:#f9f9f9	;
  overflow: hidden;
}
.research-header{
  background-color: #940a00;
  text-align: center;
}
.research{
  float: left;
  height: 535px;
  width: 400px;
  margin-top: 4%;
  margin-left: 17%;
}
.research-title{
  color: azure;
  font-weight: 500;
}
.research-content{
  background-color: azure;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
}
.research-paginator{
  background-color: #940a00;
}
.research-display{
  float: right;
  height: 535px;
  width: 550px;
  margin-top: 4%;
  margin-right: 13%;
  background-color: azure;
}
.research-display-header1{
  background-color: #940a00;
  text-align: center;
  height: 17%;
}
.research-display-header2{
  background-color: lightgray;
  text-align: left;
  height: 27%;
  overflow-y: scroll;
}
.research-display-title1{
  color: azure;
  font-weight: 500;
  font-size: xx-large;
}
.research-display-title2{
  color: rgb(0, 0, 0);
  font-weight: 400;
  
}
.research-display-content{
  background-color: azure;
  margin-right: 20%;
  height: 100%;
  margin-top: 3%;
  justify-content: space-between;
  flex-direction: column;
}
.opportunity{
  margin-top: 5%;
  border-radius: 5%;
}
.opportunity-header{
  background-color: #940a00;
  height: 25px;
  display: flex;
  justify-content: center;
  border-radius: 5%;
}
.opportunity-title{
  color: aliceblue;
  font-size: medium;
}
.opportunity-content{
  background-color: lightgray;
  height: 60px;
  display: flex;
  overflow: scroll;
  overflow-x: hidden;
}
.apply-button{
  background-color: #940a00;
  color: azure;
  height: 40px;
  box-shadow: none;
  position: absolute;
  top: 90%;
  left: 80%;
  
}
.btn{
  justify-content: flex-end;
  display: flex;
  background-color: azure;
}
.info{
  margin-bottom: 2%;
  font-size: smaller;
}
.info2{
  margin-bottom: 2%;
}