<div class = "background">
  <mat-card class = "research">
    <mat-card-header class = "research-header">
      <mat-card-title class = "research-title">
        Posted Research Positions
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class = "research-content">

      <mat-card class="opportunity">
        <mat-card-header class="opportunity-header">
          <mat-card-title class="opportunity-title">
            Example Title
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class = opportunity-content>
          Example Professor 
          Example Location
          ect
        </mat-card-content> 
      </mat-card>
      <mat-card class="opportunity">
        <mat-card-header class="opportunity-header">
          <mat-card-title class="opportunity-title">
            Example Title
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class = opportunity-content>
          Example Professor 
          Example Location
          ect
        </mat-card-content> 
      </mat-card>
      <mat-card class="opportunity">
        <mat-card-header class="opportunity-header">
          <mat-card-title class="opportunity-title">
            Example Title
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class = opportunity-content>
          Example Professor 
          Example Location
          ect
        </mat-card-content> 
      </mat-card>
      

    </mat-card-content>
    <mat-paginator class = research-paginator>
    </mat-paginator>
  </mat-card>
  <mat-card class = "research-display">
    <mat-card-header class = "research-display-header1">
      <mat-card-title class = research-display-title1>
        Example title
      </mat-card-title>
    </mat-card-header>
    <mat-card-header class = "research-display-header2">
      <mat-card-title class = "research-display-title2">
        Lab info professor ect
      </mat-card-title>
      <div class="btn">
      <button mat-fab extended class = "apply-button" routerLink="/application">
        Apply
      </button>
      </div>
    </mat-card-header>
    <mat-card-content class = research-display-content>
      description of lab
    </mat-card-content>
  </mat-card>
</div>