<main class="main">
  <mat-toolbar>
    <mat-toolbar-row>
      CICS Undergrad Research Finder
    </mat-toolbar-row>
    <mat-toolbar-row class="navbar">
      <div class="navbar-left">
        <button mat-button routerLink="/">
          Home
        </button>
        <button mat-button routerLink="/research">
          Research
        </button>
        <button mat-button routerLink="/">
          Professor
        </button>
        <button mat-button routerLink="/application">
          Application
        </button>
        <button mat-button routerLink="/">
          Help
        </button>
        <button mat-button (click)="fetchLabData()">Fetch Lab Data</button>
        <div *ngIf="data">
          Check the console for data output.
        </div>
      </div>
      <div class="navbar-right">
        <button mat-button routerLink="/login">
          Log In
        </button>
        <button mat-button routerLink="/signup">
          Sign Up
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet/>    
</main>
