.main {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    color: black;
    background-color: white;
    padding-left: 23px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #940a00;
}
