.main {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #940a00;
}

.navbar-button {
    color: white !important;
}

.navbar-left button:hover,
.navbar-right button:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Change to whatever color you prefer */
}


.html {
    background-color: blue;
}