<main class="main">
  <mat-toolbar>
    <mat-toolbar-row>
      CICS Undergrad Research Finder
    </mat-toolbar-row>
    <mat-toolbar-row class="navbar">
      <div class="navbar-left">
        <button mat-button routerLink="/">
          Home
        </button>
        <button mat-button routerLink="/research">
          Research
        </button>
        <button mat-button routerLink="/professor">
          Professor
        </button>
        <button mat-button [matMenuTriggerFor]="opportunityDropdown" class="opportunity-dropdown">Opportunity</button>
        <mat-menu #opportunityDropdown="matMenu" class="opportunity-dropdown" style="background-color: blue;">
          <button mat-button create-opp routerLink="/create-opportunity" class="opp-buttons">Create</button>
          <button mat-button apply-opp routerLink="/application" class="opp-buttons">Apply</button>
        </mat-menu>
        <button mat-button routerLink="/help">
          Help
        </button>
      </div>
      <div class="navbar-right">
        <button mat-button routerLink="/login">
          Log In
        </button>
        <button mat-button routerLink="/signup">
          Sign Up
        </button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet/>    
</main>
