<main class="main">
  <mat-toolbar *ngIf="showHeader">
    <mat-toolbar-row class="title">
      CICS Undergrad Research Finder
    </mat-toolbar-row>
    <mat-toolbar-row class="navbar">
      <button mat-button routerLink="/">
        Home
      </button>
      <button mat-button routerLink="/research">
        Research
      </button>
      <button mat-button routerLink="/">
        Professor
      </button>
      <button mat-button routerLink="/">
        Application
      </button>
      <button mat-button routerLink="/login">
        Log out
      </button>
      <button mat-button routerLink="/help">
        Help
      </button>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet />    
</main>
