.main {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #940a00;
}

.navbar-button {
    color: white !important;
}

.opportunity-dropdown {
    background-color: #940a00 !important; 
    width:fit-content;
}

.opportunity-dropdown.--mat-menu-container {
    color: #940a00 !important; 
}

.opp-buttons {
    background-color: #940a00;
    width: 90%;
    margin-left:5%;
    margin-right:5%;
    margin-bottom:1%
}

.html {
    background-color: blue;
}